* {
    background-color: #8FBC8F;
}

.hero {
    display: flex;
    background-image: url("./assets/resized.png");
    height: 200px;
    width: 100%;
    justify-content: flex-end;
}

#aboutSection {
    display: flex;
}

#about {
    justify-content: end;
}

#firstProject {
    background-image: url(./assets/anime.jpeg);
    min-height: 30vh;
    min-width: 30vw;
}

#secondProject {
    background-image: url(./assets/Seeded.png);
    min-height: 20vh;
}

#thirdProject {
    background-image: url(./assets/geometric-1732847__340.jpg);
    min-height: 20vh;
}
#fourthProject {
    background-image: url(./assets/code.jpg);
    min-height: 20vh;
}

#fifthProject {
    background-image: url(./assets/globecode.jpg);
    min-height: 20vh;
}

.projectCard:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.anime-card-text {
    text-align: center;
    background: slategray;
    opacity: 0.9;
    max-width: 40%;
    color: white;
    position: relative;
    top: 250px;
}

.seeded-text {
    text-align: left;
    background: slategray;
    opacity: 0.9;
    max-width: 30%;
    color: white;
    position: relative;
    top: 110px;
}

#githubText {
    text-decoration: none;
}

#emailText {
    text-decoration: none;
}

